body {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#stars {
    width: 100vw;
    height: 100vh;
    /*background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);*/
    background: #090A0F;
    position: relative;
    z-index: -3;
}

.moon {
    width: 15px;
    height: 15px;
    box-shadow: 0 0 40px #6FCAEA;
    background-image: radial-gradient(circle, #fff 5%, #D4D9E2 75%);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.crater1, .crater2, .crater3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #c4c1c1;
    opacity: 0.75;
    box-shadow: 1px 3px 7px #b3b0b0;
}

.crater2 {
    left: 14%;
    top: 67%;
    width: 2px;
    height: 2px;
}

.crater3 {
    left: 60%;
    top: 58%;
    width: 2px;
    height: 2px;
}

.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 25px 25px, #fec85c, #f07a23);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 70px 15px #fec85c;
}

.mercury{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-image: radial-gradient(circle at 25px 25px, #e67e22 5%, #d35400 75%);
   /* box-shadow: -15px -10px 0 -10px rgba(0, 0, 0, 0.05) inset;*/
    animation: animateMercury 20s linear infinite;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.venus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-image: radial-gradient(circle at 25px 25px, #25c9fc, #50b3d1);
    box-shadow: 0 0 70px 10px #25c9fc;
    animation: animateVenus 20s linear infinite;
    left: 50%;
    top: 50%;
}

.earthGroup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) rotate(0deg);
    animation: animateEarth 20s linear infinite;
}

.earth {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    /*background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);*/
    background: url("../img/map.png");
    background-size: cover;
    box-shadow: -20px -10px 0 -10px rgba(0, 0, 0, 0.1) inset,
    -60px -20px 0 0 rgba(0, 0, 0, 0.1) inset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*animation: earthRotation 4s linear infinite;*/
}

.earth > .moon {
    animation: myOrbit 5s linear infinite;
}

/* ANIMATIONEN müssen noch angepasst werden */

@keyframes myOrbit {
    from {
        transform: rotate(0) translate(-50%, calc( -50% - 50px)) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-50%, calc( -50% - 50px)) rotate(-360deg);
    }
}

@keyframes animateEarth  {
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

@keyframes earthRotation {
    100% {
        background-position: 250% 50%;
    }
}

@keyframes animateMercury  {
    from {
        transform: rotate(0deg) translateX(80px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
}

@keyframes animateVenus  {
    from {
        transform: rotate(0deg) translateX(110px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(110px) rotate(-360deg);
    }
}