/* GENERAL */

body {
    height: 100vh;
    color: white;
    font-size: 14px;
    background-color: rgba(11,16,31,1);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 15px;
}

/* CANVAS ELEMENT */

#stars {
    width: 100vw;
    height: 100vh;
    background: #090A0F;
    background: linear-gradient(to bottom, rgba(11, 16, 31, 1) 8%, rgba(30, 19, 35, 1) 22%, rgba(66, 28, 50, 1) 100%);
    position: relative;
    z-index: -3;
}

/* SOLAR SYSTEM */

.solar-system {
    width: 100vw;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 25px 25px, #fec85c, #f07a23);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 70px 15px #fec85c;
}

.sun, .mercury, .venus, .earth, .moon,
.mars, .jupiter, .saturn, .uranus,
.neptune, .pluto {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.mercury {
    width: 8px;
    height: 8px;
    background: url("../img/mercury.png");
    background-size: cover;
    transform: translate(calc(-50% + 100px - 8px / 2), calc(-50% - 8px / 2 ));
    animation: animateMercury 10s linear infinite;
}

.venus {
    width: 13px;
    height: 13px;
    background: url("../img/venus.png");
    background-size: cover;
    transform: translateX(calc(-50% + 140px)) translateY(-50%);
    animation: animateVenus 15s linear infinite;
}

.earth {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);*/
    background: url("../img/map.png");
    background-size: cover;
    box-shadow: -20px -10px 0 -10px rgba(0, 0, 0, 0.1) inset,
    -60px -20px 0 0 rgba(0, 0, 0, 0.1) inset;
    transform: translateX(-50%) translateY(-50%);
    animation: earthRotation 10s linear infinite;
}

.earthGroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 180px), -50%);
    animation: animateEarth 20s linear infinite;
    z-index: 2;
}

.earth > .moon {
    animation: animateMoon 7s linear infinite;
}

.moon {
    width: 5px;
    height: 5px;
    background: url("../img/moon.png");
    background-size: cover;
    transform: translateX(calc(-50% + 20px)) translateY(calc(-50%));
}

.mars {
    width: 12px;
    height: 12px;
    background: url("../img/mars.png");
    background-size: cover;
    transform: translate(calc(-50% + 220px), -50%);
    animation: animateMars 22s linear infinite;
}

.jupiter {
    width: 40px;
    height: 40px;
    background: url("../img/jupiter.png");
    background-size: cover;
    transform: translateX(calc(-50% + 300px)) translateY(-50%);
    animation: animateJupiter 24s linear infinite;
}

.saturn {
    width: 35px;
    height: 35px;
    background: url("../img/saturn.png");
    background-size: cover;
    transform: translateX(calc(-50% + 380px)) translateY(-50%);
    animation: animateSaturn 27s linear infinite;
}

.uranus {
    width: 24px;
    height: 24px;
    background: url("../img/uranus.png");
    background-size: cover;
    transform: translateX(calc(-50% + 450px)) translateY(-50%);
    animation: animateUranus 30s linear infinite;
}

.neptune {
    width: 20px;
    height: 20px;
    background: url("../img/neptune.png");
    background-size: cover;
    transform: translateX(calc(-50% + 530px)) translateY(-50%);
    animation: animateNeptune 33s linear infinite;
}

/* ORBITS OF PLANETS */

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;
    z-index: 0;
    opacity: .05;
}

.mercury-orbit {
    width: 200px;
    height: 200px;
}

.venus-orbit {
    width: 280px;
    height: 280px;
}

.earth-orbit {
    width: 360px;
    height: 360px;
}

.mars-orbit {
    width: 440px;
    height: 440px;
}

.jupiter-orbit {
    width: 600px;
    height: 600px;
}

.saturn-orbit {
    width: 760px;
    height: 760px;
}

.uranus-orbit {
    width: 900px;
    height: 900px;
}

.neptune-orbit {
    width: 1060px;
    height: 1060px;
}

/* ANIMATIONS OF THE PLANETS*/

@keyframes animateMercury {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 100px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 100px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 100px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 100px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 100px)) rotate(-360deg);
    }
}

@keyframes animateVenus {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 140px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 140px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 140px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 140px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 140px)) rotate(-360deg);
    }
}

@keyframes animateMoon {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 20px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 20px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 20px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 20px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 20px)) rotate(-360deg);
    }
}

@keyframes animateEarth {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 180px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 180px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 180px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 180px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 180px)) rotate(-360deg);
    }
}

@keyframes earthRotation {
    100% {
        background-position: 250% 50%;
    }
}

@keyframes animateMars {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 220px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 220px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 220px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 220px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 220px)) rotate(-360deg);
    }
}

@keyframes animateJupiter {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 300px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 300px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 300px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 300px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 300px)) rotate(-360deg);
    }
}

@keyframes animateSaturn {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 380px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 380px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 380px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 380px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 380px)) rotate(-360deg);
    }
}

@keyframes animateUranus {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 450px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 450px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 450px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 450px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 450px)) rotate(-360deg);
    }
}

@keyframes animateNeptune {
    0% {
        transform: rotate(0deg) translateX(calc(-50% + 530px)) rotate(0deg);
    }
    25% {
        transform: rotate(90deg) translateX(calc(-50% + 530px)) rotate(-90deg);
    }
    50% {
        transform: rotate(180deg) translateX(calc(+50% + 530px)) rotate(-180deg);
    }
    75% {
        transform: rotate(270deg) translateX(calc(+50% + 530px)) rotate(-270deg);
    }
    100% {
        transform: rotate(360deg) translateX(calc(-50% + 530px)) rotate(-360deg);
    }
}

/* INFO SECTION */

.section {
    width: 100vw;
    height: 100vh;
    background: rgba(11,16,31,1);
}

.planet {
    position: absolute;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.planet-info:not(:first-of-type) {
    width: 55%;
    position: absolute;
    border-bottom: 1px dashed white;
    padding-top: 30px;
}

section:nth-of-type(even) > .planet-info {
    left: 45%;
    padding-right: 50px;
}

section:nth-of-type(odd) > .planet-info {
    padding-left: 50px;
}

.planet-description {
    font-family: 'Montserrat', sans-serif;
}

.planet-title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 1.4rem;
}

.sun-distance {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.sun-distance strong {
    font-size: 2rem;
}

.sun-section {
    background: linear-gradient(to top, rgba(11,16,31,1) 0%, rgba(30,19,35,1) 42%, rgba(66,28,50,1) 100%);
}

.sun-planet {
    width: 600px;
    height: 600px;
    background: radial-gradient(circle at 25px 25px, #fec85c, #f07a23);
    top: calc(100vh + 50%);
    left: -300px;
    box-shadow: 0 0 70px 15px #fec85c;
}

.mercury-planet {
    width: 500px;
    height: 500px;
    background-color: azure;
    top: calc(200vh + 50%);
    left: calc(100vw + 300px);
    background-image: url('../img/mercury.png');
}

.venus-planet {
    width: 480px;
    height: 480px;
    background-color: azure;
    top: calc(300vh + 50%);
    left: -300px;
    background-image: url('../img/venus.png');
}

.earth-planet {
    width: 500px;
    height: 500px;
    background-color: aqua;
    top: calc(400vh + 50%);
    left: calc(100vw + 300px);
    background-image: url('../img/map.png');
}

.mars-planet {
    width: 500px;
    height: 500px;
    background-color: orangered;
    top: calc(500vh + 50%);
    left: -300px;
    background-image: url('../img/mars.png');
}

.jupiter-planet {
    width: 540px;
    height: 540px;
    background-color: azure;
    top: calc(600vh + 50%);
    left: calc(100vw + 300px);
    background-image: url('../img/jupiter.png');
}


.saturn-planet {
    width: 520px;
    height: 520px;
    background-color: azure;
    top: calc(700vh + 50%);
    left: -300px;
    background-image: url('../img/saturn.png');
}

.uranus-planet {
    width: 540px;
    height: 540px;
    background-color: azure;
    top: calc(800vh + 50%);
    left: calc(100vw + 300px);
    background-image: url('../img/uranus.png');
}

.neptune-planet {
    width: 560px;
    height: 560px;
    background-color: azure;
    top: calc(900vh + 50%);
    left: -300px;
    background-image: url('../img/neptune.png');
}